<!doctype html>
 
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='page.css') }}" />    
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='page.css') }}" />

    <title>性格診断テスト</title>

  </head>
  <body>
    <h1>性格診断テスト</h1>
    <p>ここでは簡単な性格診断テストを行います。</p>
    <p>10個の質問に答えてくださいね❤</p>

    <div class="question">
      1. 大勢でいるより1人でいるほうが好きだ
    </div>
    <form action="/" method="post">
    <label><input type="radio" name="items" id="q1" value="1" />とても同意する</label>
    <label><input type="radio" name="items" id="q2" value="2" />まあ同意する</label>
    <label><input type="radio" name="items" id="q3" value="3"/>どちらでもない</label>
    <label><input type="radio" name="items" id="q4" value="4"/>あまり同意しない</label>
    <label><input type="radio" name="items" id="q5" value="5"/>全く同意しない</label>

    <div class="question">
      2. 自分はよく考えるタイプだと思うし、人からもそういわれる 
    </div>
    <form action="/" method="post">
    <label><input type="radio" name="items" id="q1" value="1" />とても同意する</label>
    <label><input type="radio" name="items" id="q2" value="2" />まあ同意する</label>
    <label><input type="radio" name="items" id="q3" value="3"/>どちらでもない</label>
    <label><input type="radio" name="items" id="q4" value="4"/>あまり同意しない</label>
    <label><input type="radio" name="items" id="q5" value="5"/>全く同意しない</label>


    <div class="question">
      3. 大きい音などに必要以上に驚いてしまう 
    </div>
    <form action="/" method="post">
      <label><input type="radio" name="items" id="q1" value="1" />とても同意する</label>
      <label><input type="radio" name="items" id="q2" value="2" />まあ同意する</label>
      <label><input type="radio" name="items" id="q3" value="3"/>どちらでもない</label>
      <label><input type="radio" name="items" id="q4" value="4"/>あまり同意しない</label>
      <label><input type="radio" name="items" id="q5" value="5"/>全く同意しない</label>
  
    <div class="question">
      4. 自分と他人を比較しがちだ 
    </div>
    <form action="/" method="post">
      <label><input type="radio" name="items" id="q1" value="1" />とても同意する</label>
      <label><input type="radio" name="items" id="q2" value="2" />まあ同意する</label>
      <label><input type="radio" name="items" id="q3" value="3"/>どちらでもない</label>
      <label><input type="radio" name="items" id="q4" value="4"/>あまり同意しない</label>
      <label><input type="radio" name="items" id="q5" value="5"/>全く同意しない</label>

    <div class="question">
      5. 色々な情報をインプットすることが好きだ 
    </div>
    <form action="/" method="post">
      <label><input type="radio" name="items" id="q1" value="1" />とても同意する</label>
      <label><input type="radio" name="items" id="q2" value="2" />まあ同意する</label>
      <label><input type="radio" name="items" id="q3" value="3"/>どちらでもない</label>
      <label><input type="radio" name="items" id="q4" value="4"/>あまり同意しない</label>
      <label><input type="radio" name="items" id="q5" value="5"/>全く同意しない</label>
  
    <div class="question">
      6. 映画の主人公に感情移入しすぎるときがある 
    </div>
    <form action="/" method="post">
      <label><input type="radio" name="items" id="q1" value="1" />とても同意する</label>
      <label><input type="radio" name="items" id="q2" value="2" />まあ同意する</label>
      <label><input type="radio" name="items" id="q3" value="3"/>どちらでもない</label>
      <label><input type="radio" name="items" id="q4" value="4"/>あまり同意しない</label>
      <label><input type="radio" name="items" id="q5" value="5"/>全く同意しない</label>
  

    <div class="question">
      7. 連絡が帰ってこないと、自分が何かしたのではないかと不安になる 
    </div>
    <form action="/" method="post">
      <label><input type="radio" name="items" id="q1" value="1" />とても同意する</label>
      <label><input type="radio" name="items" id="q2" value="2" />まあ同意する</label>
      <label><input type="radio" name="items" id="q3" value="3"/>どちらでもない</label>
      <label><input type="radio" name="items" id="q4" value="4"/>あまり同意しない</label>
      <label><input type="radio" name="items" id="q5" value="5"/>全く同意しない</label>
  

    <div class="question">
      8. 細かいミスなどによく気づく方だ
    </div>
    <form action="/" method="post">
      <label><input type="radio" name="items" id="q1" value="1" />とても同意する</label>
      <label><input type="radio" name="items" id="q2" value="2" />まあ同意する</label>
      <label><input type="radio" name="items" id="q3" value="3"/>どちらでもない</label>
      <label><input type="radio" name="items" id="q4" value="4"/>あまり同意しない</label>
      <label><input type="radio" name="items" id="q5" value="5"/>全く同意しない</label>
  

    <div class="question">
      9. 自分の考えに夢中で、没頭することがよくある 
    </div>
    <form action="/" method="post">
      <label><input type="radio" name="items" id="q1" value="1" />とても同意する</label>
      <label><input type="radio" name="items" id="q2" value="2" />まあ同意する</label>
      <label><input type="radio" name="items" id="q3" value="3"/>どちらでもない</label>
      <label><input type="radio" name="items" id="q4" value="4"/>あまり同意しない</label>
      <label><input type="radio" name="items" id="q5" value="5"/>全く同意しない</label>
  

    <div class="question">
      10. かなり鮮明な夢を見ることが多い
    </div>
    <form action="/" method="post">
      <label><input type="radio" name="items" id="q1" value="1" />とても同意する</label>
      <label><input type="radio" name="items" id="q2" value="2" />まあ同意する</label>
      <label><input type="radio" name="items" id="q3" value="3"/>どちらでもない</label>
      <label><input type="radio" name="items" id="q4" value="4"/>あまり同意しない</label>
      <label><input type="radio" name="items" id="q5" value="5"/>全く同意しない</label>
  

    <div>
        <button type="submit">これで登録する</button>
      </form>
    </div>
    <div>{{ result_type }}</div>
  </body>
</html>

